<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/56b90300-7c6c-4281-b041-15917095eba5/resourcegroups/ClouxApi20250225220057ResourceGroup/providers/Microsoft.Web/sites/ClouxApi20250225220057</ResourceId>
    <ResourceGroup>ClouxApi20250225220057ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/56b90300-7c6c-4281-b041-15917095eba5/resourceGroups/ClouxApi20250225220057ResourceGroup/providers/Microsoft.ApiManagement/service/ClouxApiapi/apis/ClouxApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clouxapi20250225220057.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c024866f-5487-462a-9a40-b094e3534d38</ProjectGuid>
    <MSDeployServiceURL>clouxapi20250225220057.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClouxApi20250225220057</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ClouxApi20250225220057</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>